<div class="container top-30">
  <div class="row">  

    <div class="col-md-4">
      Buscar artistas
      <input (keyup)="buscarArtista(termino);" (keyup.enter)="termino='';"
             [(ngModel)]="termino"
        type="text" name="termino" value="" placeholder="Buscar artista..." class="form-control" >
      <hr>
      <button (click)="buscarArtista(termino); termino=''"  
        type="button"  class="btn btn-secondary">Buscar</button>

    </div>

    <div class="col-md-8">

      <div class="row">
        <div *ngFor="let artista of _spotifyService.artistas"
             [routerLink]="['/artist', artista.id]"
            class="col-md-3 text-center puntero" >
          <img [src]="artista.images | sinfoto:1" class="img-fluid img-thumbnail">
          {{ artista.name }}
          <hr>
        </div>
      </div>
      

    </div>

  </div>




</div>